.bookDetailsContainer {
    text-align: center;
}

.bookDetailsContainer h1 {
    margin-bottom: 2rem;
}

.bookDetailsContainer h3 {
    margin-bottom: 1rem;
}

.bookDetailsContainer p {
    font-size: 20px;
}

.bookDetailsContainer ul li {
    text-align: left;
    font-size: 18px;
}