.container {
  max-height: 100vh;
  overflow-x: hidden;
  background: #ffffff;
}

.mainTitle {
  text-align: center;
  padding: 20px;
  border-bottom: 3px solid #666666;
  margin-bottom: 0;
  background: #f0f8ff;
}

.main > .booksRow > div {
  justify-content: center;
  padding: 40px;
  padding-right: 15px;
}

.booksCardsColumn {
  border-right: 3px solid #666666;
}